:root{
    --bright-red: hsl(12, 88%, 59%)
}
@media screen and (max-width:500px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    img{
        padding: auto;
    }
    .submit{
        width: fit-content;
    }
    .right img{
        padding-left: 0;
    }
    input{
        width: 150px
    }
    .four p{
        margin-left: 30px;
    }
    .mainbg-footer{
        display: flex;
        flex-direction: column;
    }
    footer{
display: flex;
flex-direction: column;
    }
}
*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    width: 80%;
    align-items: center;
margin-left: 20px;
margin-right: 20px;
padding-top: 50px;
}
.main{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav{
    display: flex;
}
header nav a{
text-decoration: none;
padding: 15px;
font-size: 20px;
}
.main img {
   width: 21%;
   height: 33px;
   padding-top: 14px;
}
.main button{
    background-color:  hsl(12, 88%, 59%);
    width: 120px;
    border-radius: 20px;
    height: 35px;
font-size: 15px;
color:white;
padding: 5px;
border: none;
}

.mainbg{
    background-image: url(/images/bg-tablet-pattern.svg);
width: 100%;
background-repeat: no-repeat;
display: flex;
align-items: center;
flex-direction: column;
}
header{
    margin-left: 20px;
    margin-right: 20px;
     width: 80%;
}
.content{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.left{
width: 50%;
}
.right{
    width: 50%;
}
.right img{
    width: 100%;
    padding-left: 67px;
}
.left h1{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 45px;
    /* font-weight:bold; */
    margin: 0;
}
p{
    font-size: 33px;
    color:  hsl(227, 12%, 61%);
}
.left button{
        background-color:  hsl(12, 88%, 59%);
        width: 120px;
        border-radius: 20px;
        height: 35px;
    font-size: 15px;
    color:white;
    padding: 10px;
    border: none;
    margin-top: 15px;
}

.box{
    display: flex;
    align-items: center;

}
#btn{
    width: 56px;
    height: 30px;
    border-radius: 26px;
    background-color:  hsl(12, 88%, 59%);
    border: none;
    color: white;
}
h4{
    padding-left: 10px;
    font-size: 20px;
}

.ques{
    margin-bottom: 15px;
}
.ques p{
    font-size: 22px;
    color:  hsl(227, 12%, 61%);
   margin-top: 7px;
   font-family: 'Be Vietnam Pro', sans-serif;
}

.center{
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
}

.my1{
   display: flex;
overflow: scroll;
/* width: fit-content; */
white-space:no-wrap;
/* justify-content: space-between; */
justify-content: space-between;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-color: aqua;
    justify-content: space-between;
    /* position: relative;
    bottom: 71px; */
    margin: 0 15px;
    width: 375px;
    max-height: 321px;
}
.card img{
    position: relative;
    bottom: 50px;
}

.my1 .card p{
    font-size: 12px;
    padding: 5px;
    font-weight: 500;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.btn-center{
    width: 100%;
text-align: center;
margin-top: 50px;
margin-bottom: 100px;
}
.btn-center button{
    background-color:  hsl(12, 88%, 59%);
    width: 120px;
    border-radius: 20px;
    height: 35px;
font-size: 15px;
color:white;
padding: 5px;
border: none;
}

.news{
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    justify-content: space-around;
    background-color: hsl(12, 88%, 59%);
    padding: 50px 0;
}

.main-bgnew{
    display: flex;
    width: 80%;
    align-items: center;
margin-left: 20px;
margin-right: 20px;
}

.main-bgnew .right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right button{
    background-color: white;
    width: 120px;
    border-radius: 20px;
    height: 35px;
font-size: 15px;
color: hsl(12, 88%, 59%);
padding: 5px;
border: none;
}

.mainbg-footer{
    width: 100%;
background-repeat: no-repeat;
display: flex;
/* align-items: center; */
flex-direction: row;
justify-content: space-around;
padding-top: 30px;

}

footer{
    background-color: black;
    width: 100%;
    height: 150px;
}

.first{
    display: flex;
    flex-direction: row;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.socailmedia{
    display: flex;
    /* align-content: space-between; */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
a {
    text-decoration: none;
}

.second{
    display: flex;
    flex-direction: column;
    color: white;

}
.second a{
    list-style-type: none;
    font-size: 16px;
    text-decoration:none;
    color: white;
    margin: 3px 0;
}

.third{
    color:white ;
}

.third ul li{
    list-style-type: none;
    margin: 3px 0;
}
.four{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.four p{
    font-size: 16px;
    margin-left: 50px;
}
input{
    background-color: white;
    width: 200px;
    border-radius: 20px;
    height: 25px;
font-size: 15px;
color: hsl(12, 88%, 59%);
padding: 3px 15px 3px 10px;
border: none;
}
